.tabs {
  > .tabs-headings {
    .heading {
      cursor: pointer;

      &.selected {
        color: red;
      }
    }
  }

  > .tabs-content {
    position: relative;

    > .content {
      display: none;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition: 0.4s;

      &.show {
        display: block;
        pointer-events: all;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
