.container 
	.bread-crumbs 
		span 
			a(href="#") Главная
		span.hyphen
		span 
		a(href="#") Обучение
section.courses
	.container.courses-container 
		.courses__info.courses-info
			h1.courses-info__title <span>Обучающие курсы</span> для поставщиков на маркетплейсы
			.courses-info__price.ci-price
				.ci-price__icon 
					<svg><use xlink:href="./img/icons/sprite.svg#spent"></use></svg>
				.ci-price__count от <span>19 900</span> 
			.courses-info__text 
				p Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров
				p Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают маркетплейсы и никогда не вдаемся в теорию, которая не понадобится на практике.
				p Нащи уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать наугад. Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль.
		.courses__image
			img(src="./img/courses/image.png", alt="Мотивирующее изображение")

mixin ti-el(src, text)
	//item
	.trust-items__el.ti-el
		.ti-el__image
			img(src= src, alt="")
		.ti-el__text!= text
	//end of item

section.trust 
	.container.trust-container
		h2.trust__title <span class="descktop">Небольшая предыстория о том, почему нам можно доверять</span><span  class="mobile">Как работает модуль Аналитика по API для Wildberries?</span>
		.trust__items.trust-items
			+ti-el("./img/trust/item01.png","Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы («Европейский», «Метрополис», «Мега» и др.), а также свой интернет-магазин. Мы накопили большой опыт в продвижении своих товаров за счет многочисленных запусков разных рекламных каналов и работы с блогерами.")
			+ti-el("./img/trust/item02.png","<p>Летом 2019 года мы вышли на маркетплейсы и после работы с ними в течение 2 месяцев приняли решение развивать только это направление. И не прогадали. Весь накопленный опыт мы направили на улучшение и продвижение наших брендов.</p> <p>Пришло время поделится знаниями и лайфхаками, которые будут собраны и доступны в нашей Академии stat4market.</p>")

mixin si-el(href, title, text)
	//item
	.study-items__el.si-el
		.si-el__icon
			<svg><use xlink:href="#{href}"></use></svg>
		.si-el__title= title 
		.si-el__text= text 
	//end of item

section.study 
	.container 
		h2.study__title Обучение по продажам на маркетплейсах от <span class="title">stat<span class="accent">4</span>market</span>
		.study__slogan «Увеличение реальной прибыли, конкретика и ключевые инструменты, которые дают результат» — на этом тезисе созданы наши курсы
		.study__items.study-items
			+si-el("./img/icons/sprite.svg#target","Наше обучение построено очень лаконично и просто","Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.")
			+si-el("./img/icons/sprite.svg#site","Ко всем урокам есть дополнительные материалы","Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.")
			+si-el("./img/icons/sprite.svg#friends","Наше обучение — практико-ориентированное","Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.")
			+si-el("./img/icons/sprite.svg#icons","Создатели нашей Академии","Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.")

